$lightGreen: #b9e7e7;

@font-face {
  font-family: "Jura";
  src:
    //local("Jura"),
    url(./fonts/Jura-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Bungee";
  src: url(./fonts/Bungee-Regular.ttf) format("truetype");
}

.app {
  display: flex;
  justify-content: center;

  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }
  }

  .link {
    text-decoration: none;
    color: inherit;
  }

  // LOGIN & REGISTER

  .auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $lightGreen;
    height: 100vh;

    h1 {
      font-size: 20px;
      color: teal;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 50px;
      background-color: white;
      width: 200px;
      gap: 20px;

      input {
        padding: 10px;
        border: none;
        border-bottom: 1px solid grey;
      }

      button {
        padding: 10px;
        border: none;
        background-color: teal;
        cursor: pointer;
        color: white;
      }

      span {
        font-size: 12px;
        text-align: center;
      }

      p {
        font-size: 12px;
        color: red;
        text-align: center;
      }
    }
  }

  // NAVBAR

  .navbar {
    display: flex;
    flex-direction: row;
    top: 0;
    height: 51.2px;
    align-items: center;
    justify-content: space-between;


    .logo {
      flex: 0 1 auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 44.6px;
      width: 51.2;
    }

    .about-button,
    .github-button,
    .signin-button {
      width: 77px;
      height: 25.6px;
      border-radius: 6.4px;
      border: 1.92px solid black;
      font-size: 15.36px;
      font-family: "Bungee";
      text-decoration: none;
      text-align: center;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #EBEBEB;
      color: #000000;
    }

    .about-github-buttons {
      display: flex;
      column-gap: 15px;
    }

    .about-button:active,
    .github-button:active,
    .signin-button:active {
      transform: scale(96%);
    }
  }

  .old-navbar {
    .container {
      padding: 10px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        img {
          width: 120px;
        }
      }

      .links {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      h6 {
        font-size: 16px;
        font-weight: 300;
      }

      span {
        cursor: pointer;
      }

      .post {
        background-color: $lightGreen;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        border: 1px solid white;

        &:hover {
          width: 48px;
          height: 48px;
          color: teal;
          background-color: white;
          border: 1px solid teal;
        }
      }
    }

  }

  // FOOTER
  footer {
    margin-top: 100px;
    padding: 20px;
    background-color: $lightGreen;
    display: flex;
    align-items: center;
    font-size: 12px;

    img {
      height: 50px;
    }
  }

  .guess-panel-container {
    width: 800px;
    height: 800px;
    border-radius: 10px;

  }

  //POSTCARD COMPONENT

  .home-post {
    position: relative;
    width: 100%;
    /* Fill the width of the container */
    margin-bottom: 20px;

    /* Optional: If you need some space between the postcards */
    //height: calc(100% * (327 / 379)); this does not work
    // height: auto;
    .rectangle {
      background-color: #eaeaea;
      border-radius: 10px;
      box-shadow: 0px 5px 5px #00000040;
      // height: 327px;
      left: 0;
      position: relative;
      top: 0;
      width: 100%;
      overflow: hidden;

      /* Ensures that the shadow and border radius is applied correctly */
      &::before {
        content: "";
        display: block;
        padding-top: calc(100% * (327 / 379));
        /* Aspect ratio */
      }

      .text-wrapper,
      .text-wrapper-2 {
        color: #000000;
        font-family: "Jura";
        font-size: 1.5vw;
        font-weight: 700;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        bottom: 0.8vw;
        // top: 288.5px;
      }

      .text-wrapper {
        left: 15px;
      }

      .text-wrapper-2 {
        right: 15px;
      }
    }

    .image {
      height: calc(90%);
      /* Leave space for the text */
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
      border-radius: 10px 10px 0 0px;
    }
  }

  @media (max-width: 1024px) {
    .home-post {
      flex: 0 1 calc(50% - 20px); // On screens smaller than 1024px, the postcards will take up half the container's width minus 20 pixels, resulting in 2 per row.
    }
  }

  @media (max-width: 768px) {
    .home-post {
      flex: 0 1 calc(100% - 20px); // On screens smaller than 768px, the postcards will take up the full container's width minus 20 pixels, resulting in 1 per row.
    }
  }

  .home-post:active {
    transform: scale(96%);
  }

  //HOME signup CARD COMPONENT
  .signup {
    display: flex;
    flex-direction: column;
    justify-content: space;
    row-gap: 20px;
    align-items: center;

    .signup-card-box {
      position: relative;
      background-color: #ffffff;
      border-radius: 20px;
      box-shadow: 0px 2px 2px #00000040;
      height: 259px;
      width: 477px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 10px;

      .email-label,
      .username-label,
      .pass-label {
        position: relative;
        color: #000000;
        left: 24px;
        font-family: "Jura";
        font-size: 17.5px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: normal;
        top: 7px;
      }

      .email-input,
      .username-input,
      .password-input {
        background-color: #eaeaea;
        height: 35px;
        left: 21.5px;
        width: 431px;
        border-radius: 5px;
        border: 0px;
        font-family: "Jura";
        font-size: 17.5px;
        font-weight: 700;
        align-self: center;
      }

      .password-input {
        font-size: 25px;
      }

    }

    .signup-button {
      height: 40px;
      width: 145px;
      background-color: #ffffff;
      border-radius: 10px;
      border: 0px;
      box-shadow: 0px 2px 2px #00000040;
      font-family: "Bungee";
      font-size: 17.5px;
      font-weight: 700;
      padding: 0px;
      line-height: 0px;
    }

    .signup-button:active {
      transform: scale(96%);
    }
  }

  // HOME PAGE
  .new-home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 96vw;
    margin-top: 5px;
    background-size: cover;

    .title-bar {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background-repeat: no-repeat; // Ensures the background doesn't repeat
      //position:relative;
      background: url(img/homebackground.jpg);
      background-size: contain;
      height: 431px;
      border-radius: 10px;

      //border:3px solid blue;
      @media (max-width: 768px) {
        flex-direction: column; // Stacks the elements vertically on smaller screens
        justify-content: center; // Centers the items vertically
        align-items: flex-start; // Aligns items to the start of the flex container
        height: auto; // Height becomes automatic to contain all the items
        padding: 20px; // Add some padding to not touch the edges
      }

      .text-wrapper {
        p {
          font-family: "Jura";
          font-weight: 700;
          font-size: 25px;
        }

        h1 {
          justify-self: center;
          font-family: "Bungee";
          align-self: center;
          font-size: 50px;
          font-weight: 700;
        }
      }
    }

    h2 {
      font-family: "Bungee";
      align-self: center;
      text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    }

    .postcard-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 40px;
      //border: 2px solid green;

      .postcard-1,
      .postcard-2,
      .postcard-3 {}
    }

  }

  .community-posts {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .text-wrapper {
      text-align: center;
      line-height: 10px;

      .page-title {
        font-family: "Bungee";
        font-size: 40px;
        text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
      }

      p {
        align-self: center;
        font-family: "Jura";
        font-weight: 700;
        font-size: 20px;
      }
    }

    .posts-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 30px;

    }
  }

  .home {
    .posts {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 150px;

      .post {
        display: flex;
        gap: 100px;

        &:nth-child(2n + 1) {
          flex-direction: row-reverse;
        }

        // SPECIFY WIDTH OF IMAGE VS. TEXT BY CHANGING THE FLEX RATIO
        .img {
          flex: 2;
          position: relative;

          &::after {
            content: ""; // may add text here for image caption
            width: 100%;
            height: 100%;
            background-color: $lightGreen;
            position: absolute;
            top: 20px;
            left: -20px;
            z-index: -1;
          }

          img {
            width: 100%;
            max-height: 600px;
            object-fit: cover;
          }
        }

        .content {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        h1 {
          font-size: 42px;
        }

        p {
          font-size: 14px;
        }

        button {
          width: max-content;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
          background-color: white;
          border: 1px solid teal;
          color: teal;

          &:hover {
            border: 1px solid white;
            background-color: $lightGreen;
            color: black;
          }
        }
      }
    }
  }

  // SINGLE PAGE

  .single {
    display: flex;
    gap: 50px;
    top: 1%;

    .content {
      flex: 5;
      display: flex;
      flex-direction: column;
      gap: 30px;

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          font-weight: bold;
        }
      }

      .edit {
        display: flex;
        gap: 5px;

        img {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }

      h1 {
        font-size: 42px;
        color: #333;
      }

      p {
        text-align: justify;
        line-height: 30px;
      }
    }

    .menu {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 25px;

      h1 {
        font-size: 20px;
        color: #555;
      }

      .post {
        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }

        h2 {
          color: #555;
        }

        button {
          width: max-content;
          padding: 7.5px 15px;
          border: none;
          cursor: pointer;
          color: teal;
          background-color: white;
          border: 1px solid teal;

          &:hover {
            border: 1px solid white;
            background-color: $lightGreen;
            color: black;
          }
        }
      }
    }
  }

  //WRITE
  .write {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .page-title {
      font-family: "Bungee";
      font-size: 32px;
      margin-top: 30px;
      margin-bottom: 10px;
      line-height: 0px;
    }

    .page-tip {
      font-family: "Jura";
      font-size: 14px;
      font-weight: 600;
      width: 80%;
      margin-bottom: 5px;
    }

    .write__cards {
      display: flex;
      flex-direction: row;
      gap: 20px;
      text-align: center;
      margin-bottom: 40px;

      .write__left-card {
        width: 379px;

        .write__left-card-text {
          margin-bottom: 20px;
        }

        .upload-arrow-image {
          width: 12%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
        }
      }

      .write__right-card {
        width: 379px;

        .write__right-card-text {
          margin-bottom: 20px;
        }

        .write-post-map-container {
          height: 100%;
        }
      }
    }

    .post-submit-button {
      border-radius: 10px;
      color: #7CBD9A;
      font-family: "Bungee";
      font-size: 26px;
      // line-height: 120%;
    }

    .post-submit-button:active {
      transform: scale(96%);
    }

    .upload-message {
      font-family: "Jura";
      font-size: 20px;
      margin-top: 16px;
      color: green;
      font-weight: 600;
    }

    .error-message {
      font-family: "Jura";
      font-size: 25px;
      margin-top: 16px;
      color: red;
      font-weight: 600;
    }
  }

  .add {
    margin-top: 20px;
    display: flex;
    gap: 20px;

    .content {
      flex: 5;
      display: flex;
      flex-direction: column;
      gap: 20px;

      input {
        padding: 10px;
        border: 1px solid lightgray;
      }

      .editorContainer {
        height: 300px;
        overflow: scroll;
        border: 1px solid lightgray;

        .editor {
          height: 100%;
          border: none;
        }
      }
    }

    .menu {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .item {
        border: 1px solid lightgray;
        padding: 10px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 12px;
        color: #555;

        h1 {
          font-size: 20px;
        }

        .file {
          text-decoration: underline;
          cursor: pointer;
        }

        .buttons {
          display: flex;
          justify-content: space-between;

          :first-child {
            cursor: pointer;
            color: teal;
            background-color: white;
            border: 1px solid teal;
            padding: 3px 5px;
          }

          :last-child {
            cursor: pointer;
            color: white;
            background-color: teal;
            border: 1px solid teal;
            padding: 3px 5px;
          }
        }

        .cat {
          display: flex;
          align-items: center;
          gap: 2px;
          color: teal;
        }
      }
    }
  }

  // Guess

  .button-guess-container {
    margin-top: 30px;
  }

  .button-guess-page {
    height: 40px;
    width: 250px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0px 2px 2px #00000040;
    font-family: "Bungee";
    font-size: 17.5px;
    font-weight: 700;
    color: black;
    padding: 0px;
    line-height: 0px;
    padding: 14px 50px;
    text-align: center;
    text-decoration: none;


  }

  .button_container {
    margin-left: 15%;
    margin-bottom: 20px;
  }

  .topMap {
    height: 40px;
    width: 145px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 5px;
    border-color: black;
    box-shadow: 0px 2px 2px #00000040;
    font-family: "Bungee";
    font-size: 17.5px;
    font-weight: 700;
    padding: 0px;
    line-height: 0px;
    margin-left: 30px;
    align-items: center;


    &:hover {
      background-color: black;
      color: white;
    }

  }


}