$lightGreen: #b9e7e7;

@font-face {
  font-family: "Jura";
  src:
    //local("Jura"),
    url(./fonts/Jura-Regular.ttf) format("truetype");
}
@font-face{
  font-family: "Bungee";
  src:
    url(./fonts/Bungee-Regular.ttf) format("truetype");
}

.app {
  display: flex;
  justify-content: center;
  .container {
    width: 1024px;
    .link {
      text-decoration: none;
      color: inherit;
    }
  }

  .link {
    text-decoration: none;
    color: inherit;
  }
  // LOGIN & REGISTER

  .auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $lightGreen;
    height: 100vh;

    h1 {
      font-size: 20px;
      color: teal;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 50px;
      background-color: white;
      width: 200px;
      gap: 20px;

      input {
        padding: 10px;
        border: none;
        border-bottom: 1px solid grey;
      }

      button {
        padding: 10px;
        border: none;
        background-color: teal;
        cursor: pointer;
        color: white;
      }

      span {
        font-size: 12px;
        text-align: center;
      }

      p {
        font-size: 12px;
        color: red;
        text-align: center;
      }
    }
  }

  // NAVBAR

  .navbar {
    display:flex;
    width:90vw;
    border:10px solid black;
    height:4vw;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
    .logo{
      

    }
    .about-button{
      
    }

    .github-button{

    }
    .signin-button{
      
    }
    
    /*
    .container {
      padding: 10px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        img {
          width: 120px;
        }
      }
      .links {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      h6 {
        font-size: 16px;
        font-weight: 300;
      }
      span {
        cursor: pointer;
      }
      .post {
        background-color: $lightGreen;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        border: 1px solid white;

        &:hover {
          width: 48px;
          height: 48px;
          color: teal;
          background-color: white;
          border: 1px solid teal;
        }
      }
    }
    */
  }

  // FOOTER
  footer {
    margin-top: 100px;
    padding: 20px;
    background-color: $lightGreen;
    display: flex;
    align-items: center;
    font-size: 12px;
    img {
      height: 50px;
    }
  }

  .map-container {
    width: 800px;
    height: 1000px;
  }

  //POSTCARD COMPONENT
  .home-posts {
    //transform: scale(100%);
    height: 654px;
    width: 759px;
    .home-posts-group {
      height: 654px;
      left: 0;
      position: sticky;
      top: 0;
      width: 759px;
      .overlap-group {
        height: 654px;
        position: relative;
        width: 763px;
        .rectangle {
          background-color: #eaeaea;
          border-radius: 20px;
          box-shadow: 0px 10px 10px #00000040;
          height: 654px;
          left: 0;
          position: relative;
          top: 0;
          width: 758px;
          .text-wrapper {
            color: #000000;
            font-family: "Jura";
            font-size: 45px;
            font-weight: 700;
            left: 30px;
            letter-spacing: 0;
            line-height: normal;
            position: absolute;
            top: 577px;
          }
          .text-wrapper-2 {
            color: #000000;
            font-family: "Jura";
            font-size: 45px;
            font-weight: 700;
            right: 30px;
            letter-spacing: 0;
            line-height: normal;
            position: absolute;
            top: 577px;
          }
        }
        .image {
          height: 545px;
          left: 0;
          object-fit: cover;
          position: absolute;
          top: 0;
          width: 758px;
          border-radius: 20px;
        }
      }
    }
  }
  //HOME LOGIN CARD COMPONENT
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
    align-items: center;
    .login-card-box {
      position: relative;
      background-color: #ffffff;
      border-radius: 40px;
      box-shadow: 0px 4px 4px #00000040;
      height: 518px;
      width: 953px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 20px;
      //transform: scale(50%);

      .email-label {
        position:relative;
        color: #000000;
        left: 48px;
        font-family: "Jura";
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: normal;
      }
      .email-input {
        background-color: #eaeaea;
        top: 100px;
        height: 70px;
        left: 43px;
        width: 862px;
        border-radius: 10px;
        border: 0px;
        font-family: "Jura";
        font-size: 35px;
        font-weight: 700;
        align-self: center;
      }
      .username-label {
        position: relative;
        color: #000000;
        left: 48px;
        font-family: "Jura";
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: normal;
        font-size: 35px;
        font-weight: 700;
      }
      .username-input {
        background-color: #eaeaea;
        top: 240px;
        left: 43px;
        height: 70px;
        width: 862px;
        border-radius: 10px;
        border: 0px;
        outline: none;
        font-family: "Jura";
        font-size: 35px;
        font-weight: 700;
        align-self: center;
      }
      .pass-label {
        position: relative;
        color: #000000;
        left: 48px;
        font-family: "Jura";
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: normal;
        align-self:flex-start;
      }
      .password-input {
        background-color: #eaeaea;
        height: 70px;
        width: 862px;
        outline: none;
        border-radius: 10px;
        border:0px;
        font-family: "Jura";
        font-size: 50px;
        align-self:center;
      }
    }
    .signup-button {
      height: 80px;
      width: 290px;
      background-color: #ffffff;
      border-radius: 20px;
      border: 0px;
      box-shadow: 0px 4px 4px #00000040;
      font-family: "Bungee";
      font-size: 35px;
      font-weight: 700;
      padding: 0px;
      line-height: 0px
    }
    .signup-button:active{
      transform: scale(0.96);
    }
  }

  // HOME PAGE
  .home {
    .posts {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 150px;

      .post {
        display: flex;
        gap: 100px;

        &:nth-child(2n + 1) {
          flex-direction: row-reverse;
        }

        // SPECIFY WIDTH OF IMAGE VS. TEXT BY CHANGING THE FLEX RATIO
        .img {
          flex: 2;
          position: relative;

          &::after {
            content: ""; // may add text here for image caption
            width: 100%;
            height: 100%;
            background-color: $lightGreen;
            position: absolute;
            top: 20px;
            left: -20px;
            z-index: -1;
          }

          img {
            width: 100%;
            max-height: 600px;
            object-fit: cover;
          }
        }
        .content {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        h1 {
          font-size: 42px;
        }

        p {
          font-size: 14px;
        }

        button {
          width: max-content;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
          background-color: white;
          border: 1px solid teal;
          color: teal;

          &:hover {
            border: 1px solid white;
            background-color: $lightGreen;
            color: black;
          }
        }
      }
    }
  }

  // SINGLE PAGE

  .single {
    display: flex;
    gap: 50px;

    .content {
      flex: 5;
      display: flex;
      flex-direction: column;
      gap: 30px;

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          font-weight: bold;
        }
      }

      .edit {
        display: flex;
        gap: 5px;

        img {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }

      h1 {
        font-size: 42px;
        color: #333;
      }

      p {
        text-align: justify;
        line-height: 30px;
      }
    }
    .menu {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 25px;

      h1 {
        font-size: 20px;
        color: #555;
      }

      .post {
        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }

        h2 {
          color: #555;
        }

        button {
          width: max-content;
          padding: 7.5px 15px;
          border: none;
          cursor: pointer;
          color: teal;
          background-color: white;
          border: 1px solid teal;

          &:hover {
            border: 1px solid white;
            background-color: $lightGreen;
            color: black;
          }
        }
      }
    }
  }

  //WRITE

  .add {
    margin-top: 20px;
    display: flex;
    gap: 20px;

    .content {
      flex: 5;
      display: flex;
      flex-direction: column;
      gap: 20px;

      input {
        padding: 10px;
        border: 1px solid lightgray;
      }

      .editorContainer {
        height: 300px;
        overflow: scroll;
        border: 1px solid lightgray;

        .editor {
          height: 100%;
          border: none;
        }
      }
    }

    .menu {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .item {
        border: 1px solid lightgray;
        padding: 10px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 12px;
        color: #555;

        h1 {
          font-size: 20px;
        }

        .file {
          text-decoration: underline;
          cursor: pointer;
        }

        .buttons {
          display: flex;
          justify-content: space-between;

          :first-child {
            cursor: pointer;
            color: teal;
            background-color: white;
            border: 1px solid teal;
            padding: 3px 5px;
          }
          :last-child {
            cursor: pointer;
            color: white;
            background-color: teal;
            border: 1px solid teal;
            padding: 3px 5px;
          }
        }

        .cat {
          display: flex;
          align-items: center;
          gap: 2px;
          color: teal;
        }
      }
    }
  }
}
