<!DOCTYPE html>
<html>

<body>

    <form action="/postupload" method="POST" encType="multipart/form-data">
        <h3> Upload an image </h3>
        <input type="file" name="image" accept="image/*">

        <br>
        <br>

        <div class="col-md-12 text-right">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
</body>

</html>